<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>My Notes page</title>

</head>
<body>
<a href="../../../resources/templates/site/index.html">Back to main menu</a>

<br/>
<br/>

<h1>Notes List</h1>


<table class="table table-striped">
    <tr>
        <th width="80">ID</th>
        <th width="120">Last Name</th>
        <th width="120">First Name</th>
        <th width="120">Middle Name</th>
        <th width="120">Mob.tel.</th>
        <th width="120">Dom.tel.</th>
        <th width="120">Address</th>
        <th width="120">E-mail</th>
        <th width="60">Edit</th>
        <th width="60">Delete</th>
    </tr>


    <tbody>

    <tr th:each="note : ${listNotes}">

        <td th:text="${note.id}"></td>
        <td th:text="${note.lastName}"></td>
        <td th:text="${note.firstName}"></td>
        <td th:text="${note.middleName}"></td>
        <td th:text="${note.telMobile}"></td>
        <td th:text="${note.telDomastic}"></td>
        <td th:text="${note.address}"></td>
        <td th:text="${note.email}"></td>
        <td><a th:href="@{/edit/${note.id})}"> Edit</a></td>
        <td><a th:href="@{/remove/${note.id})}"> Delete</a></td>


    </tr>
    </tbody>
</table>


<h1>Add a Note</h1>



            <form action="#" th:action="@{/notes/add}" th:object="${note}" method="post">

                <table>

                    <tr>
                        <td>Note Id</td>
                        <td>input type= "text" th:field = "*{id}" readonly="readonly" hidden = "hidden"</td>

                    </tr>
                    <tr>
                        <td>Last Name</td>
                        <td>input type= "text" th:field = "*{lastName}" </td>

                    </tr>
                    <tr>
                        <td>First Name</td>
                        <td>input type= "text" th:field = "*{firstName}" </td>

                    </tr>
                    <tr>
                        <td>Middle Name</td>
                        <td>input type= "text" th:field = "*{middleName}" </td>

                    </tr>
                    <tr>
                        <td>Mobile telephone</td>
                        <td>input type= "text" th:field = "*{telMobile}" </td>

                    </tr>
                    <tr>
                        <td>Domastic telephone</td>
                        <td>input type= "text" th:field = "*{telDomastic}" </td>

                    </tr>
                    <tr>
                        <td>Address</td>
                        <td>input type= "text" th:field = "*{address}" </td>

                    </tr>
                    <tr>
                        <td>e-mail</td>
                        <td>input type= "text" th:field = "*{email}" </td>

                    </tr>

                    </tr>
                    <tr>
                        <td colspan="2">

                                <input type="submit" value= "Edit Note"/>"/>

                                <input type="submit"
                                       value="Add Note"/>"/>
                            </c:if>
                        </td>
                    </tr>
                </table>
        </form>
</body>
</html>
